<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goorm Diary</title>
</head>
<body>
    <p>title = <%= post.title %></p>
    <p>body = <%= post.body %></p>
</body>
</html>