table {
    width: 20%;
}

.detail_btn {
    float: left;
    width: 90px;
}

@font-face { 
    font-family: 'BBTreeGB'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

body{
    font-family: 'BBTreeGB'; 
}