<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Goorm Diary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Goorm
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/tobacco/list">Show List</a>
                <% if (session.login) {%>
                <a class="dropdown-item" href="/tobacco/create">Add Goorm</a>
                <% } %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <% if (!session.login) {%>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signup">Signup</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <form action="/accounts/logout"  method="POST">
                <button type="submit" class="btn btn-light">Logout</button>
              </form>
              <!-- <a class="nav-link" href="/">Logout</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/mypage/<%= session.username %>">My page</a>
            </li>
            <% } %>

          </ul>
          <form action="/tobacco/search" class="form-inline my-2 my-lg-0" method="POST">
            <input class="form-control mr-sm-2" name="search_key" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>