<!DOCTYPE html>
<html lang="en">
    <% include ../templates/head.ejs %>
<body>
    <% include ../templates/header.ejs %>
    <div class="container">
      <br>
      <h4>구름과자 추가</h4>
        <hr>
        <form action="/tobacco/create" method="POST">
            <div>
                <label for="brand">brand</label>
                <select name="brand_select">
                    <option value="null">직접입력</option>
                  <% for(let brand of brands) { %>  
                    <p><%= brand %></p>
                    <option value="<%= brand %>"><%= brand %></option>
                   <% } %>
                </select>
                <input type="text" name="brand_name" value="">
              </div>
              <div>
                  <label for="name">name</label>
                  <input type="text" name="name" value="">
                </div>
              <div>
                <label for="price">price</label>
                <input type="number" name="price" value="">
              </div>
              <div>
                <label for="nicotine">nicotine</label>
                <input type="text" name="nicotine" value="">
              </div>
              <div>
                <label for="TAR">TAR</label>
                <input type="text" name="TAR" value="">
              </div>
              <div>
                <label for="is_menthol">맨솔 여부</label>
                <input type="radio" name="is_menthol" value=true /> 유
                <input type="radio" name="is_menthol" value=false /> 무
              </div>
              <div><br>
                <button type="submit" class="btn btn-secondary" >추가</button>
              </div>
        </form>
    </div>
</body>
</html>